@page

<div>
    <div class="text-center">
    <br />
    <h1 class="text-success"> Customer Service </h1>
    <br />
    <h4 class="text-primary"><i /> <i class="fa-solid fa-bounce fa-dove"></i> Langueßird</h4>
    </div>
    <br />
    <br />
    <br />
    <div class="blockquote text-right">
        <h2> Contaxt Informations</h2>
        <br />

        <h4> Phone Number</h4>
        <p class="text-success"><i class="fa-solid fa-xl fa-shake fa-square-phone" style="color:#10abf9"></i>+90(542 534 67 34) </p>
        <br />

        <h3>Adres</h3>
        <p class="text-success">
            <i class="fa-solid fa-map-location fa-flip fa-xl" style="color: #10abf9;"></i> Merkez Mahallesi 643.Sokak no.4/5
        İstanbul Çıkmaz Sokak    
        </p>
        <br />

        <h3> <i class="fa-solid fa-envelope fa-bounce fa-xl" style="color:#10abf9"></i> E-mail</h3>
        <p class="text-success">HelpLangueBird@gmail.com</p>
    </div>
</div>