<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><i class="fa-brands fa-earlybirds fa-bounce fa-lg mx-" style="color: #e00022;"></i> LangueBird</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Category" asp-action="Index" asp-area="">Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Teacher" asp-action="Index">Teachers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-page="/Contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>