@model List<LangueViewModel>

    <h1 class="display-6 text-danger" >Categories</h1>
    @foreach(var cat in Model)
    {
       
        <div class="row">
        <a class="btn btn-primary">@cat.Name</a>
        <hr>
        </div>
        
    }