<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" target="_blank">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Uygulamaya Git
                </a>
                <div class="sb-sidenav-menu-heading">Genel</div>
                <a asp-area="Admin" asp-controller="Category" asp-action="Index" class="nav-link">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Categories
                </a>
                <a asp-area="Admin" asp-controller="Teacher" asp-action="Index" class="nav-link">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Teachers
                </a>
              
                <div class="sb-sidenav-menu-heading">Geri Dönüşüm Kutusu</div>
                <a asp-area="Admin" asp-controller="Category" asp-action="DeletedIndex" class="nav-link">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Deleted Categories
                </a>
                <a asp-area="Admin" asp-controller="Teacher" asp-action="DeletedIndex" class="nav-link">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Deleted Teachers
                </a>
              
                <div class="sb-sidenav-menu-heading">Configuration</div>
                <a class="nav-link" 
                    asp-area="Admin"
                    asp-controller="Home"
                    asp-action="UserList"
                >
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                    Users
                </a>
                <a class="nav-link" 
                    asp-area="Admin"
                    asp-controller="Home"
                    asp-action="RoleList"
                >
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Roles
                </a>
                <a class="nav-link" href="tables.html">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    App Configurations
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Giriş Yapan Kullanıcı:</div>
            Enes Batuhan Halaç
        </div>
    </nav>
</div>
