<footer>
    <div class="footer-top">
        <div class="container">
            <div class="footer-day-time">
                <div class="row">
                    <div class="col-md-8">
                        <ol>
                            <li>Opening Customer Service Hours: Mon - Friday: 8AM - 5PM</li>
                            <li >Sunday: 8:00 AM - 12:00 PM</li>
                        </ol>
                    </div>
                    <div class="col-lg-4">
                        <div class="phone-no">
                            <a><i class="fa-solid fa-xl fa-shake fa-square-phone" style="color:#10abf9"></i>+90/542 534 67 340</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">

                    <h4>About us</h4>
                    <p>ßlueBird Firmasi Olarak Tüm Dünyadan Dil Eğitmenlerimizi Rekabetçi Bir şekilde Sizlerle Buluşturuyoruz.
                        Artık Yeni Bir Dil Ögrenmemek İçin Mazeretiniz yok!
                        Hadi Bize Katıl !!!</p>

                </div>

                <div class="col-md-4">
                    <h4>Information</h4>
                    <ul class="address1">
                        <li>
                            <i class="fa-solid fa-map-location fa-flip fa-xl" style="color: #10abf9;"></i>Merkez Mahallesi 643.Sokak no.4/5 İstanbul Çıkmaz Sokak

                        </li>
                        <li><i class="fa-solid fa-envelope fa-bounce fa-xl" style="color:#10abf9"></i><a href="mailto:#">HelpLangueBird@gmail.com</a></li>
                        <li><i class="fa-solid fa-xl fa-shake fa-square-phone" style="color:#10abf9"></i> <a>+90 542 534 67 34</a></li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <h4>Follow us</h4>
                    <ul class="social-icon">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <p class="copyright text-uppercase">
                        Copyright © 2023
                    </p>
                </div>
                <div class="col-sm-7">
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-controller="Teacher" asp-action="Index">Teachers</a></li>
                        <li><a asp-controller="Category" asp-action="Index">Our services</a></li>
                        <li><a asp-page="/Contact">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
