<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" target="_blank">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Uygulamaya Git
                </a>
                <div class="sb-sidenav-menu-heading">Genel</div>
                <a asp-area="Admin" asp-controller="Category" asp-action="Index" class="nav-link">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Kategoriler
                </a>
                <a asp-area="Admin" asp-controller="Author" asp-action="Index" class="nav-link">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Yazarlar
                </a>
                <a asp-area="Admin" asp-controller="Publisher" asp-action="Index" class="nav-link">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Yayınevleri
                </a>
                <a asp-area="Admin" asp-controller="Book" asp-action="Index" class="nav-link">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Kitaplar
                </a>
                <div class="sb-sidenav-menu-heading">Geri Dönüşüm Kutusu</div>
                <a asp-area="Admin" asp-controller="Category" asp-action="DeletedIndex" class="nav-link">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Silinmiş Kategoriler
                </a>
                <a asp-area="Admin" asp-controller="Author" asp-action="DeletedIndex" class="nav-link">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Silinmiş Yazarlar
                </a>
                <a asp-area="Admin" asp-controller="Publisher" asp-action="DeletedIndex" class="nav-link">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Silinmiş Yayınevleri
                </a>
                <a asp-area="Admin" asp-controller="Book" asp-action="DeletedIndex" class="nav-link">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Silinmiş Kitaplar
                </a>
                <div class="sb-sidenav-menu-heading">Ayarlar</div>
                <a class="nav-link" 
                    asp-area="Admin"
                    asp-controller="Home"
                    asp-action="UserList"
                >
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                    Kullanıcılar
                </a>
                <a class="nav-link" 
                    asp-area="Admin"
                    asp-controller="Home"
                    asp-action="RoleList"
                >
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Roller
                </a>
                <a class="nav-link" href="tables.html">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Uygulama Ayarları
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Giriş Yapan Kullanıcı:</div>
            Engin Niyazi
        </div>
    </nav>
</div>
